.main {
  height: 270px;
  min-width: 400px;
  width: fit-content;
  padding: 0 3rem;
  margin: 2rem auto;
  border: 1px solid #300;
  text-align: center;
  background-color: rgba(255, 251, 251, 1);
}

.hebrew_container {
  padding-top: 1rem;
}

.hebrew_text {
  font-family: 'Taamey Frank', 'Times New Roman', 'serif';
  font-size: 64pt;
}